@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');



.bubble{
    z-index: 1;
    position: absolute;
    bottom: 0px;
    border-radius: 250px;
    font-size: xx-large;
}
.pointGiver{
    color: lightgray;
}
.streakBreaker{
    color: red;
    background-color: salmon;
}
#BubbleContainer{
    position: relative;
    height:98vh;
    width:80vw;
    vertical-align: bottom;
    background-color: blue;
}
#score{
    color: red;
    font-size: xx-large;
    z-index: 2;
}

body{
    background-color: black;
    color: white;
}

.mainMenu{
    display: grid;
    grid-template-columns: auto auto auto auto ;
    justify-content: space-evenly;
    height: 60px;
    padding: 10px, 10px, 10px, 10px;
    font-family: 'Indie Flower', cursive;
    background-color: #90C5C9;
    text-decoration: none;
    font-size: 35px;
    text-align:center;
    align-content: center;
}
