@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


/* GamePage */

.bubble{
    z-index: 1;
    position: absolute;
    bottom: 0px;
    border-radius: 250px;
    font-size: xx-large;
}
.pointGiver{
    color: lightgray;
}
.streakBreaker{
    color: red;
    /* background-color: salmon; */
}
.golden{
    color:gold;
    /*background-color: khaki;*/
}
#BubbleContainer{
    position: relative;
    margin-top: 225px;
    height: 500px;
    width: 250px;
    vertical-align: bottom;
    background-color: #ffffff00;
}

#score{
    color: red;
    font-size: xx-large;
}

#score-miniBoard{
    position: absolute;
    width: 300px;
    height: 150px;
    background-color: #DBD3BE;
    border: 5px solid #DEB620;
    margin: 15px;
    font-size: 25px;
    text-align: center;
    z-index: 2;
}

.game {
    display: flex;
    justify-content: center;
}

.bg-cup {
    position: absolute;
    height: auto;
    width: 600px;
    z-index: -10;
}

.game-block {
    z-index: 1;
    display: flex;

}

body{
    background-color: white;
    font-family: 'Indie Flower', cursive;
    background-color: #F8F8F8;
}

h1{
    text-align: center;
    font-size: 80px;
    color: #D97969;
    font-weight: bold;
}

img{
    width: 120%;
}


/* Main All */

.mainMenu{
    display: grid;
    grid-template-columns: auto auto auto auto ;
    justify-content: space-evenly;
    height: 60px;
    padding: 10px, 10px, 10px, 10px;
    font-family: 'Indie Flower', cursive;
    background-color: #90C5C9;
    
    font-size: 35px;
    text-align:center;
    align-content: center;
}

.mainMenuItem a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

/*Customize your tea*/

.custOuter{
    display: flex;
}

.custLeft{
    width: 40%;
    height: 600px;

}

.custRight{
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    color: white;
    background-color: black;
    border: 5px solid;
    width: 60%;
    height: 600px;


}

.flavour{
    border: 1px solid;
    width: 30%;
    height: 300px;

}

.flavour{
    border: 1px solid;
    width: 30%;
    height: 300px;

}