@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

footer {
    display: grid;
    grid-template-columns: auto auto auto auto ;
    justify-content: space-evenly;
    height: 60px;
    padding: 10px, 10px, 10px, 10px;
    margin: 15px 0px 5px 0px;
    font-family: 'Indie Flower', cursive;
    background-color: #90C5C9;
    
    font-size: 35px;
    text-align:center;
    align-content: center;
}


/* GamePage */
.decorative{
    position: absolute;
    bottom:-100%;
    left:-25%;
    width:150%;
    background-color: bisque;
    z-index: 2;
    transform:rotateX(3.142rad);
    transform-origin:top;
}
#cup{
    z-index: 1;
}
.decorativeBubbles{
color:#90C5C9;
}


.bubble{
    z-index: 4;
    position: absolute;
    bottom: 0px;
    border-radius: 250px;
    font-size: xx-large;
}
.bubbleSink{
    z-index: 3 !important;
}
.pointGiver{
    color: lightgray;
}
.streakBreaker{
    color: red;
    /* background-color: salmon; */
}
.golden{
    color:gold;
    /*background-color: khaki;*/
}
#BubbleContainer{
    position: relative;
    margin-top: 225px;
    height: 500px;
    width: 230px;
    vertical-align: bottom;
    background-color: transparent;
}

#score{
    color: red;
    font-size: xx-large;
}

#score-miniBoard{
    position: absolute;
    width: 250px;
    height: 150px;
    background-color:bisque;
    border: 15px solid #DEB620;
    margin: 15px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    z-index: 2;
    border-radius: 3%;
}

.game {
    display: flex;
    justify-content: center;
    background-image: url('images/game_background.jpg');
}

.bg-cup {
    position: absolute;
    height: auto;
    width: 600px;
    z-index: -10;
}

.bg-cup-bottom {
    position: absolute;
    top: 880px;
    height: auto;
    width: 600px;
    z-index: 10;
}

#bg-tea {
    margin-top: 250px;
    border-top: 480px solid #B1CBA666;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 0;
    width: 220px;
    position: absolute;
    z-index: 2;
}

.game-block {
    z-index: 3;
    display: flex;

}

body{
    background-color: white;
    font-family: 'Indie Flower', cursive;
    background-color: #F8F8F8;
}

h1{
    text-align: center;
    font-size: 80px;
    color: #D97969;
    font-weight: bold;
    margin: 0;
}

img{
    width: 120%;
}


/* Main All */

.mainMenu{
    display: grid;
    grid-template-columns: auto auto auto auto ;
    justify-content: space-evenly;
    height: 60px;
    padding: 10px, 10px, 10px, 10px;
    margin: 15px 0px 5px 0px;
    font-family: 'Indie Flower', cursive;
    background-color: #90C5C9;
    
    font-size: 35px;
    text-align:center;
    align-content: center;
}

.mainMenuItem a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

/*Customize your tea*/

.custOuter{
    display: flex;
}

.custLeft{
    width: 40%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

#menuImage {
   display: table-column;
   position: absolute;
   width: 40%;
   margin: 320px 5px 5px 5px;
   justify-content: center;
}

.menuType{
 display: flex;
 text-align: center;
 padding: 0px 50px;
}


#scorePic{
    width: 700px;
    justify-content: center;
    float: inline-end;
}

.flavour-title{
    color: #fdeca6;
    text-align: center;
    justify-content: center;
    margin: 10px;
    padding-bottom: 0%;
}

.flavour-t2{
    text-align: center;
    justify-content: center;
    margin: 10px;
}
.ul{
    margin: 10px;
}

.menuOptions{
    display: flex;
    flex-direction: row;
    height: 300px;
    margin-top: 5px;
}

#customize-cup {
    position: absolute;
    top: 270px;
    height: auto;
    width: 350px;
    z-index: -5;
}

#customize-cup-bottom {
    position: absolute;
    bottom: -8px;
    height: auto;
    width: 350px;
    z-index: 5;
}

.green-tea {
    margin-bottom: 110px;
    border-top: 270px solid #B1CBA666;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 130px;
}
.chai {
    margin-bottom: 110px;
    border-top: 270px solid #B2833066;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 130px;
}
.coconut {
    margin-bottom: 110px;
    border-top: 270px solid #E9EDF666;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 130px;
}
.taro {
    margin-bottom: 110px;
    border-top: 270px solid #A3A6E866;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 130px;
}
.watermelon {
    margin-bottom: 110px;
    border-top: 270px solid #D23B6866;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 130px;
}

#save-tea {
    height: 50px;
    width: 150px;
    position: absolute;
}

#save-tea {
    width: 150px;
    margin: 25px 0;
    padding: 10px;
    grid-column: 2 / 3;
    background-color:  #DEB620;
    border: 1px solid;
    border-radius: 7.5px;
    font-size: 30px;
    font-family: 'Indie Flower', cursive;
    font-size: larger;
    font-weight: bold;
    text-align: center;
}

.custRight{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
    color: white;
    background-color: rgb(51, 59, 61);
    border: 5px solid;
    width: 60%;
    height: 65vh;
    border: 20px solid #DEB620;
}



.flavour{
    border: 1px solid;
    width: 30%;
    height: 300px;
    mar
}
 /*
.bubble{
    border: 1px solid;
    width: 30%;
    height: 300px;
}
*/

/* Score page */
.middle{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.personalContainer{
    width: 60%;
    text-align: center;
   
}

#personalContainer{
    width: 60%
   
}

#highscoreContainer{
    width: 60%; 
}

.flexIMG{
    display: flex;
}
.scoreImg{
    width: 15%;
    aspect-ratio: auto;
}

table td{
    margin: 15px 0px 15px 0px;
    font-size: 25px;
    font-weight: bold;
    justify-content: center;  
    border: 3px solid #F8F8F8;
    background-color: #DEB620;
    border-radius: 08px;
}

th{
    background-color: #D97969;
    font-size: 40px;
    padding-left: 5vw; 
    padding-right: 5vw;
    width: 60%;
    border: 5px solid #F8F8F8;
    border-radius: 10px;
}

/*LOG IN CSS*/

@media only screen and (max-width: 768px) {
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
 
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mainImage {
  width: 40vw;
  margin-left: 10%;
}

form {
  margin: 2.5% 0 5% 0;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-items: center;
  font-weight: bold;
}

.error-msg { 
    grid-column: 2 / 3;
}

.hide {
  display: none;
}

.alert-msg {
  margin: 10px 0;
  padding: 0 5px;
  grid-column: 2 / 3;
  background-color: #ffdddd;
  border: 1px solid #dd0000;
}

#errorDisplay {
    grid-column: 2/3;
}

.form-line {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
}

.form-line label {
  padding: 5px;
  font-size: 25px;
}

.form-line input {
  padding: 7.5px;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  font-size: 25px;
}

.forgot-password {
  grid-column: 2 / 3;
}

.forgot-password a {
  color: inherit;
  font-size: 15px;
}

.login-btn {
  width: 70%;
  margin: 25px 0;
  padding: 10px;
  grid-column: 2 / 3;
  background-color:  #DEB620;
  border: 1px solid;
  border-radius: 7.5px;
  font-size: 25px;
  font-family: 'Indie Flower', cursive;
  font-size: larger;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 5px gray;
  transform: translateY(4px);
}

.login-btn:hover {
    background-color: #DEB620
}

.new-user-msg {
  grid-column: 2 / 3;
}

/*REGISTRATION */

.register-btn {
  width: 70%;
  margin-top: 50px;
  padding: 10px;
  grid-column: 2 / 3;
  background-color:  #DEB620; 
  border-radius: 7.5px;
  font-size: 25px;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  box-shadow: 0 5px gray;
  transform: translateY(4px);
}

.register-btn:hover {
    background-color: #DEB620
}