@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
  font-family: 'Indie Flower', cursive;
  font-size: larger;
  font-weight: bold;

}



main {
  display: flex;
  flex-direction: row;
  align-items: center;
}

img {
  width: 40vw;
}

form {
  margin: 5% 0 5% 0;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-items: center;
}

.form-line {
  width: 30vw;
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
}

.form-line label {
  padding: 5px;
  font-size: 25px;
}

.form-line input {
  padding: 7.5px;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  font-size: 25px;
}

.forgot-password {
  grid-column: 2 / 3;
}

.forgot-password a {
  color: inherit;
}

.login-btn {
  width: 70%;
  margin-top: 50px;
  padding: 10px;
  grid-column: 2 / 3;
  background-color: #90C5C9;
  border: 1px solid;
  border-radius: 7.5px;
  font-size: 25px;
  text-align: center;
}